-i https://pypi.org/simple/
astroid==2.5.1
babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
django-phonenumber-field==3.0.1
django-rest-auth==0.9.5
django==2.2.5
djangorestframework==3.12.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
phonenumbers==8.10.19
pillow==8.1.1
pyjwt==2.0.1
pylint-django==2.0.11
pylint-plugin-utils==0.6
pylint==2.7.2
pysocks==1.7.1 ; python_version >= '3.0'
pytz==2021.1
requests==2.25.1 ; python_version >= '3.0'
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
twilio==6.31.0
typed-ast==1.4.2 ; implementation_name == 'cpython' and python_version < '3.8'
urllib3==1.26.4
wrapt==1.12.1
