-i https://pypi.org/simple/
astroid==2.5.6
babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
django-phonenumber-field==3.0.1
django-rest-auth==0.9.5
django==2.2.5
djangorestframework==3.12.4
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
phonenumbers==8.10.19
pillow==6.1.0
pyjwt==2.1.0
pylint-django==2.0.11
pylint-plugin-utils==0.6
pylint==2.8.3
pysocks==1.7.1 ; python_version >= '3.0'
pytz==2021.1
requests==2.25.1 ; python_version >= '3.0'
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
twilio==6.31.0
typed-ast==1.4.3 ; implementation_name == 'cpython' and python_version < '3.8'
urllib3==1.26.5
wrapt==1.12.1
